# Configuration PostgreSQL
PGHOST=localhost
PGUSER=postgres
PGPASSWORD=postgres
PGDATABASE=crypto_platform
PGPORT=5432

# Configuration RabbitMQ
AMQP_URL=amqp://guest:guest@localhost:5672

# Configuration SMTP pour les alertes email
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=moussa.assameur3@gmail.com
SMTP_PASS=seny bart pngp rfyf
SMTP_FROM="CryptoWatch" <alerts@CryptoWatch.com>

# URL du frontend (pour les liens dans les emails)
FRONTEND_URL=http://localhost:3001
